
nav {
  min-height: 48px;
  line-height: 48px;
}

.nav-title {
  font-size: 26px;
  line-height: 60px;
}

.nav-toright {
  float: right;
  padding: 10px;
}

.tweet {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
}

.tweet-screen {
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.tweet-date {
  margin-left:20px;
  font-size: 12px;
  color: grey;
}

.tweet-content {
  padding-top:20px;
  padding-bottom:10px;
}

.stat-table {
  font-family: Verdana, Arial, sans-serif;
  text-align: left;
  width: 800px;
  border: none;
  padding: 0px;
}

.stat-table-header {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: white;
  background-color:#202060;
}

.stat-table-header th {
  padding: 3px 10px 3px 10px;
}

.stat-table-header-name {
  width: 120px;
}

.stat-table-header-percent {
  width: 60px;
}

.stat-table-header-city {
  text-align: left;
}

.stat-table-row {
  font-size: 12px;
  text-align: right;
  
}

.stat-table-row:nth-child(odd) {
    background-color: #efeff5;
}

.stat-table-row:nth-child(even) {
    background-color: #e0e0eb;
}

.stat-table-row td{
  padding-left: 10px;
  padding-right: 10px;
}

.stat-table-row-city {
  text-align: left;
}

